html, body, #app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#app {
  overflow-x: hidden;
  overflow-y: scroll;
}

#app > .nut-theme- {
  background-color: #f7f8fa;
  min-width: 100%;
  min-height: 100%;
}

#app > .nut-theme-dark {
  background-color: #444;
  color: #fff;
  min-width: 100%;
  min-height: 100%;
}